img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
al {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

lii {
  float: left;
}

lii a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 106px;
  text-decoration: none;
  background-color: pink;
}

lii a:hover {
  background-color: orange;
}

al {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A9A9A9;
}


ll {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A9A9A9;
}

ll {
    float: left;
}

ll a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ll a:hover {
    background-color: #111111;
}
    .myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  margin-top: 5px;
  
}
      .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 20px;
        border: 0px outset red;
        float: left;
     margin-left: 19px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top: 55px;
        margin-left: 15px;
      }

      .dropdown-content a {
        color: black;
        padding: 18px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content a:hover {
        background-color: #ddd;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
